*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.sticky-nav{
    width: 60px;
    height: 100%;
    position: fixed;
    left: 0;
    overflow: hidden;
    font-size: 15px;
    white-space: nowrap;
    border-right: 1px solid rgba(118, 118, 118, 0.12);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 393;
    background-color: white;
}
.nav-title{
    display: flex;
    align-items: center;
    background-color: rgb(28, 97, 231);
    margin: 8px;
    padding: 0 13px;
    height: 45px;
    font-size: 16px;
    color: white;
    border-radius: 100px;
}
.sticky-nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.first-hover-content{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 45px;
    padding: 4px 17px;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.first-hover-content img{
    max-width: 24px;
}
.sticky-nav-span {
    transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s ease-out, transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.sticky-nav:hover{
    width: 300px;
    overflow: visible;
}
.sticky-nav.expanded {
    width: 300px;
    overflow: visible;
}
.sticky-nav a:hover{
    color:rgb(28, 97, 231);
}
.whole-sec-hover {
    position: absolute;
    left: 300px;
    top: 0px;
    width: 275px;
    height: 100%;
    border-right: 1px solid gray;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    transform: translateX(-15px) translateY(0) translateZ(0);
    transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s ease-out, transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.sub-sub-menu{
    padding: 0 15px;
    height: 35px;
    color: #838383;
    font-size: 14px;
}
.first-hover:hover > .whole-sec-hover{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition-delay: 0.1s;
}
.mobile-nav{
    height: 100%;
    width: 300px;
    background-color: white;
    position: fixed;
    z-index: 500;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translate3d(-100%, 0, 0);
    overflow: hidden;
}
.mobile-nav-opened{
    transform: none;
}
.mobile-nav-headings{
    width: 100%;
    height: 52px;
    display: flex;
    flex-direction: row-reverse;
    color: #909090;
    border-bottom: 1px solid rgba(0, 0, 0, 0.105) ;
    background-color: rgba(0,0,0,0.04);
    gap: 0.001px;
}

 .nav-li {
  width: 50%;
  color: #909090; 
  text-transform: uppercase;
  font-size: 13px;
  position: relative;
}

.nav-li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-li a:hover {
  color: #909090;
}
.nav-li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(28, 97, 231);
    transition: width 0.4s cubic-bezier(0.19, 1, 0.22, 1)
}
.active{
    background-color: rgba(0, 0, 0, 0.105);
}
.nav-li.active::after{
    width: 100%;
}
.nav-li:hover::after{
    width: 100%;
}
.li-2::after{
    right: 0;
    left: auto;
}
.mobile-categories a{
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    flex: 1 1 0%;
    padding: 5px 20px;
    color: #333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.105);
    animation: wd-fadeIn 1s ease;

}
.arrow{
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.105);
    border-left: 1px solid rgba(0, 0, 0, 0.105);
    font-size: 16px;
    cursor: pointer;
}
.active-categories{
    display: none;
}
@keyframes wd-fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.categories-options{
    position: absolute;    
    left: 100%;
    width: 100%;
    background-color: white;
    transition: transform .3s ease;
    z-index: 2;
}
.categories-options-opened-1{
    transform: translateX(-100%);
}
.categories-options-opened-2{
    transform: translateX(-200%);
}
.close-side {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1),z-index 0s cubic-bezier(0.19, 1, 0.22, 1) 0.5s,top 0s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    z-index: 3;
}
.sticky-nav:hover ~ .close-side {
    opacity: 1;
    visibility: visible;
}
.close-side.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 392;
}
.close-side.seen{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 400;
}
.main-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
}

.general-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
}

.logo {
    display: flex;
    align-items: center;
    height: 80px;
    width: 220px;
}

.search-bar-div {
    display: flex;
    align-items: center;
    flex: 1 1 0%;
    margin-left: 20px;
}
.search-bar{
    width: 97%;
    height: 46px;
    padding-left: 15px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 35px;
    color: #838383;
}
.search-bar:focus {
    border: 1px solid rgba(0,0,0,0.1); 
    outline: none;
}

.search-button{
    position: relative;
    right: 42px;
    font-size: 18px;
    color: white;
    background-color: rgb(28, 97, 231);
    height: 38px;
    width: 40px;
    border-radius: 50%;
}

.support-section {
    display: flex;
    align-items: center;
    gap: 20px;
}
.support-24{
    display: flex;
    gap: 10px;
    padding-inline: 10px;
}
.sub-header{
    background-color: rgba(230, 239, 253, 1);
    width: 100%;
    height: 60px;
    z-index: 2;
    transition: transform 0.3s ease;
}
.sub-header.hide {
    transform: translateY(-100%); /* Moves header up out of view */
}
.sub-header-content{
    display: flex;
    height: 60px;
}
.all-categories {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.all-categories a:hover i,
.all-categories a:hover span {
    color: #838383;
    transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1),opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1),visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1),transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}


.bars-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(28, 97, 231);
    width: 36px;
    height: 36px;
    font-size: 20px;
    border-radius: 50%;
    color: white;
}
.header-menu{
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}
.menu{
    flex: 1 1 auto;
}
.menu ul{
    display: flex;
    margin: 0;
}
.links{
    display: flex;
    align-items: center;
    height: 40px;
    padding-inline: 12px;
    color: #333;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.25s ease;
    border-radius: 40px;

} 
.links:hover{
    color: rgb(28, 97, 231);
    background-color: rgb(28, 97, 231,0.25);
}
.menu-content{
    display: flex;
    align-items: center;
    height: 60px;
}
.hover-container{
    position: relative;
}
.usa-hover{
    width: 220px;
    position: absolute;
    right: 10%;
    top: 100%;
    left: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.15);
    opacity: 0;
    visibility: hidden;
    background-color: white;
    transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1),visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1),transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(0) translateY(15px) translateZ(0);
    z-index: 2;
}
.content-1-link:hover ~ .usa-hover, .usa-hover:hover {
    opacity: 1;
    visibility: visible;
    transform: none;
}
.hover-container:hover .content-1-link {
    background-color: rgba(28, 97, 231, 0.25);
    color: rgb(28, 97, 231);
}
.usa-hover::after{
    height: 20px;
    content: "";
    position: absolute;
    inset-inline: 0;
    top: -20px;
}
.icons{
    display: flex;
    align-items: center;
    padding-inline: 10px;
}
.icons a{
    display: flex;
    align-items: center;
    height: 42px;
    width: 42px;
    padding-inline: 10px;
    color: #333;
    border-radius: 42px;
    font-size: 23px;
    background-color: white;
    transition: all 0.25s ease;
}
.upper-icon{
    position: absolute;
    top: 10%;
    font-size: 13px;
    width: 18px;
    height: 18px;
    color: rgb(28, 97, 231, 0.85);
    text-align: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,0.17);
}
.cart{
    font-size: 20px !important;
    color: white !important;
}
.cart:hover{
    color: #838383 !important;
}
.icons a:hover{
    color: #838383;
}
.shopping-cart{
    width: 340px;
    height: 100%;
    display: flex;
    flex-direction: column;
    right: 0;
    left: auto;
    transform: translate3d(100%, 0, 0);
    position: fixed;
    inset-block: .001px;
    z-index: 500;
    background-color: white;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.shopping-cart.opened{
    transform: none;
}
.shopping-cart-heading{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.105);
}
.slash:before{
    content: "\f070";
}
.slider{
    max-width: 100%;
    height: 460px;
}
.indicators{
    border: 1px solid white !important;
    border-radius: 10px !important;
    height: 10px !important;
    width: 10px !important;
    background-color: #333 !important;
}
.row-1-content{
    height: 277px;
    margin-bottom: 20px;
    transition: transform 0.5s cubic-bezier(0, 0, 0.44, 1.18);
    overflow: hidden;
    border-radius: 10px;
}
.row-1-content img{
    transition: transform 0.5s cubic-bezier(0, 0, 0.44, 1.18);
    height: 277px;
}
.row-1-content:hover img{
    transform: scale(1.09);
}
.countdown-container {
    display: flex;
    gap: 5px;
}
  
.countdown-item {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 54px;
    min-height: 43px;
}

.countdown-item span {
    color: #333;
    font-size: 20px;
    font-weight: 500;
}

.countdown-item p {
  margin: 0;
  font-size: 70%;
  color: gray;
}
.custom-container{
    max-width: 1400px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.box:hover .box-menu{
    opacity: 1;
    visibility: visible !important;
    transform: none;
}
.box-btn{
    height: 42px;
    width: 100%;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(28, 97, 231);
    font-weight: 600;
    transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow .25s ease, opacity .25s ease;
}
.box-btn::before{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: opacity .15s ease, transform .25s ease;
    transform: translateY(100%);
    content: "\f07a";
    font-family: "FontAwesome";
    color: white;
}
.box-btn:hover span{
    transform: translateY(-100%);
}
.box-btn:hover::before{
    transform: translateY(0);
}
.box-detail table tr{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 5px;
}
.box-detail table td{
    color: #a5a5a5;
}
.box:hover .box-hover,.box:hover .box-detail, .box:hover,.box:hover .box-dots,.box:hover .blocks{
    opacity: 1 !important;
    visibility: visible !important;
    transform: scale(1.01);
    transition: opacity .3s ease, visibility .0s ease, transform .3s ease;
}
.left-right-btns{
    display: none !important;
}
.shopping-ul::-webkit-scrollbar, .macbook-options::-webkit-scrollbar, .box-detail::-webkit-scrollbar{
    width: 5px;    
}

.shopping-ul::-webkit-scrollbar-track, .macbook-options::-webkit-scrollbar-track, .box-detail::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0.05);      
}
.shopping-ul::-webkit-scrollbar-thumb, .macbook-options::-webkit-scrollbar-thumb, .box-detail::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.12);         
}

.btn-border-active{
    border: 1px solid #767676 !important;
}

.btn-border-remove{
    border: none;
}
.btn-remove{
    color: #767676 !important;
    cursor: default !important;
    pointer-events: none !important;
}
@keyframes price-animation {
    from {
        transform: translate3d(0, 20px, 0)
    }

    to {
        transform: none
    }
}

.animation-price{
    animation: price-animation .3s ease;
}

